{% extends "layout.twig" %}

{% block content %}

<div class="row page">
    <header class="bk-header three cols">
        {{widget('logo', 'jerrys-logo', {"defaultlogo": asset('images/jerrys-logo.png')})|raw}}
        {{widget('companyname', 'jerrys-diner', {"business": "JERRY'S"})|raw}}
        {{widget('content', 'strapline', {content: '<h6>LOCAL & FRIENDLY</h6>', lines: 'all'})|raw}}
        {{widget('image', 'jerrys-image', { 'src': asset('/images/jerrys-img.jpg'), 'alt': 'my image', 'fileName': 'jerrys-img.jpg', 'fileSize': 'kb', 'imageSize': '', 'imageWidth': '100%'})|raw}}
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </header>
    <div role ="main" class="nine cols">
        {{widget('gallery', 'featuregallery', {})|raw}}
    </div>
</div>
<div class="row">
    <footer class="bk-footer">
        <div class="three cols">
            {{widget('clicktocall', 'footer-phone', {phoneText: '0800 123 123'})|raw}}
        </div>
        <div class="nine cols">
            {{widget('companyaddress', 'footer-address', {})|raw}}
        </div>
    </footer>
</div>

<script src="{{asset('assets/isotape.js')}}"></script>
<script>

(function ()
{
    // Add the niceScroll plugin to the iframe html element
    $(document).ready(function ()
    {
        var featuregallery = $('#page-zones__template-widgets__gallery-featuregallery'),
            timeout = null,
            setuptimeout = null;

        function setUpGallery() {
            featuregallery.isotope({
                itemSelector: 'li',
                masonry: {}
            });
        }

        featuregallery.on('prerender', function() {
            featuregallery.isotope('destroy');
        });

        featuregallery.on('rendered', function(){
            clearTimeout(setuptimeout);
            setuptimeout = setTimeout(function() {
                setUpGallery();
            },1000);
        });

        window.addEventListener( 'resize', function() {
            //clearTimeout(timeout);
            //timeout = setTimeout(function() {
                featuregallery.isotope('reLayout');
            //},1000);
        }, false );

        setUpGallery();
    });
}());
</script>

{% endblock %}